<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="#/">Master Dater</a></li>
      </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
          <li ng-show="currentUser"><a ng-href="#/restricted">Members Only</a></li>
          <li ng-hide="currentUser"><a ng-href="#/login">Login</a></li>
          <li ng-hide="currentUser"><a ng-href="#/register">Register</a></li>
          <li ng-show="currentUser"><a ng-href="#/edit">Edit Your Account</a></li>
          <li ng-show="currentUser"><a ng-href="#/logout">Logout</a></li>
        </ul>
    </div>
  </div>
</div>