<div class="row">
  <div class="medium-6 columns over">
    <section>  
        <br>
        <div class="small secondary expanded button-group">
          <a class="button" ng-click="viewAll()">All</a>
          <a class="button"ng-click="orderByPopular()">Popular</a>
          <a class="button">Nearby</a>
          <a class="button" ng-click="orderByMatches()">Matches</a>
          <a class="button">Convos</a>
        </div>
        
        <div ng-show="loading" class="center"> 
            <img src="images/dashinfinity.gif" />
        </div>

          <ul ng-repeat="item in info | filter:{active:true}"> 
            <div show-member></div>
            <p class="each-member">
            <span class="img-left"><img src="{{item.avatar}}"></span> 
             {{item.username}} 
            <br> {{item.company.bs}}<br> {{item._matches.length}}<br>
            <button class="button" ng-click="showOne(item)">Learn More</button> 
            </p>
          </ul>
    </section>
  </div>

  <div class="medium-6 large-5 columns overflownone">
    <div ng-show="show" class="one-member">
        <p><div single-member></div></p>
  </div>
</div>
